@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(
    circle,
    #ffffff,
    #e2e5fb,
    #bbcef7,
    #84bbf3,
    #12a9eb
  );
}


.box {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid;
    border-color: rgb(0, 195, 255) transparent;
    animation: spin 1s infinite ease-out;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
